<ion-view>
  <ion-nav-bar class="bar-calm">
    <ion-nav-title>Ticket History: {{TicketsHistory.length}} Record(s)</ion-nav-title>
      <ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="has-header">
    <div class="row" ng-show="showDetail == false" style="font-weight: bold; border-bottom: 1px solid lightgrey; text-align:center; padding: 5px">
        <div class="col">
            Ticket Date
        </div>
        <div class="col">
            Bus Number
        </div>
        <div class="col">
            Ticket Price
        </div>
        <div class="col">
            Statu
        </div>
    </div>
    <div class="row" ng-show="showDetail == false" ng-repeat="ticket in TicketsHistory" style=" border-bottom: 1px solid lightgrey; text-align:center; padding: 5px" ng-click="detail()">
        <div class="col col-center">
            {{ticket.generationDate}}
        </div>
        <div class="col col-center" style="max-height: 50px; min-height: 50px;">
          <div style="position: relative;">
            <div style="position: absolute; left: 50%; width: auto; transform: translateX(-50%);">
              <img src="img\ic_bus_black.png" style="max-width: 50px;">
            </div>
          </div>
          <div style="color: red; font-weight: bold; text-align: center; vertical-align: middle; line-height: 50px;">
            {{ticket.lineCode}}
          </div>
        </div>
        <div class="col col-center">
            K {{ticket.fare}}
        </div>
        <div class="col col-center">
            {{ticket.status}}
        </div>
    </div>

    <div style="position: relative;" ng-show="showDetail == true" ng-repeat="ticket in TicketsHistory">
      <img src='img\bg_msi_ticket.png'/ style="max-width: 100%">

      <div style="position: absolute; top: 0px; left: 0px; margin-top: 50px; margin-left: 20px;">
        <div class="row">
          <div class="col col-center" style="max-width: 100px; min-width: 100px; min-height: 100px;">
            <div style="position: relative;">
              <div style="position: absolute; left: 50%; width: auto; transform: translateX(-50%);">
                <img src="img\ic_bus_black.png" style="max-width: 100px;">
              </div>
            </div>
            <div style="color: red; font-weight: bold; font-size: 30px; text-align: center; vertical-align: middle; line-height: 100px;">
              {{ticket.lineCode}}
            </div>
          </div>
          <div class="col col-center" style="font-size: 18px">
            <div class="row">
              <div class="col">
                {{ticket.ticketLabel}}
              </div>
            </div>
          <div class="row">
            <div class="col col-50">
              {{ticket.status}}
            </div>
            <div class="col">
              K {{ticket.fare}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); width: 80%;">
        <img src="img\img_expired_en.png" style="max-width: 100%" ng-if="ticket.status == 'EXPIRED'">
        <img src="img\img_refund_en.png" style="max-width: 100%" ng-if="ticket.status == 'REFUND'">
        <img src="img\img_used_en.png" style="max-width: 100%" ng-if="ticket.status == 'USED'">
        <img src="img\img_disabled_en.png" style="max-width: 100%" ng-if="ticket.status == 'DISABLED'">
    </div>

      <div style="position: absolute; top: 0px; margin-top: 80%; left: 50%; transform: translateX(-50%); font-size: 18px; width: 85%">
        <div class="row">
          <div class="col col-33">
            Purchase
          </div>
          <div class="col col-10">
            <i class="icon ion-ios-cart-outline"></i>
          </div>
          <div class="col">
            {{ticket.generationDate}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Valid Till
          </div>
          <div class="col col-10">
            <i class="icon ion-android-time"></i>
          </div>
          <div class="col">
            {{ticket.expirationDate}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Bus Code
          </div>
          <div class="col col-10">
            <i class="icon ion-android-bus"></i>
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Used
          </div>
          <div class="col col-10">
            <i class="icon fa fa-ticket"></i>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>