<ion-view>
  <ion-nav-bar class="bar-calm">
    <ion-nav-title>Ticket History: {{TicketsHistory.length}} Record(s)</ion-nav-title>
      <ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="has-header">
    <div class="row" ng-show="showDetail == false" style="font-weight: bold; border-bottom: 1px solid lightgrey; text-align:center;">
        <div class="col">
            Ticket Date
        </div>
        <div class="col">
            Bus Number
        </div>
        <div class="col">
            Ticket Price
        </div>
        <div class="col">
            Statu
        </div>
    </div>
    <div class="row" ng-show="showDetail == false" ng-repeat="ticket in TicketsHistory" style=" border-bottom: 1px solid lightgrey; text-align:center;" ng-click="detail()">
        <div class="col col-center">
            {{ticket.generationDate}}
        </div>
        <div class="col">
          <div style="position: relative;">
            <div style="position: absolute; top: 0px; left: 0px; margin-left: auto; margin-right: auto;">
              <img src="img\ic_bus_black.png" style="max-width: 50%;">
            </div>
          </div>
          <div style="color: red; margin-top: 15%; font-weight: bold;">
            {{ticket.lineCode}}
          </div>
        </div>
        <div class="col col-center">
            K {{ticket.fare}}
        </div>
        <div class="col col-center">
            {{ticket.status}}
        </div>
    </div>

    <div style="position: relative;" ng-show="showDetail == true" ng-repeat="ticket in TicketsHistory">
      <img src='img\bg_msi_ticket.png'/ style="max-width: 100%">

      <div style="position: absolute; top: 70px; left: 25px">
        <img src="img\ic_bus_black.png" style="width: 60%">
      </div>

      <div style="position: absolute; top: 120px; left: 70px; color: red; font-weight: bold; font-size: 40px">
        {{ticket.lineCode}}
      </div>

      <div style="position: absolute; top: 100px; left: 160px; font-size: 20px;">
          {{ticket.ticketLabel}}<br><br>
          {{ticket.status}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          K {{ticket.fare}}
      </div>

        <img src="img\img_expired_en.png"  style="position: absolute; top: 220px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; max-width: 80%" ng-if="ticket.status == 'EXPIRED'">
        <img src="img\img_refund_en.png"   style="position: absolute; top: 220px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; max-width: 80%" ng-if="ticket.status == 'REFUND'">
        <img src="img\img_used_en.png"     style="position: absolute; top: 220px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; max-width: 80%" ng-if="ticket.status == 'USED'">
        <img src="img\img_disabled_en.png" style="position: absolute; top: 220px; left: 0px; right: 0px; margin-left: auto; margin-right: auto; max-width: 80%" ng-if="ticket.status == 'DISABLED'">


      <div style="position: absolute; top: 350px; left: 50px; font-size: 20px">
        Purchase <i class="icon ion-ios-cart-outline"></i> {{ticket.generationDate}}
        <br><br>
        Valid Till <i class="icon ion-android-time"></i> {{ticket.expirationDate}}
        <br><br>
        Bus Code <i class="icon ion-android-bus"></i> 
        <br><br>
        Used 
      </div>
    </div>

  </ion-content>
</ion-view>