<ion-view>
  <ion-nav-bar class="bar-calm">
    <ion-nav-title>Ticket History: {{TicketsHistory.length}} Record(s)</ion-nav-title>
      <ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="has-header" name="forMsg">
    <div class="row" style="font-weight: bold; text-align:center; position: sticky; top: 0; background-color: lightgrey; padding: 5px;">
        <div class="col">
            Ticket Date
        </div>
        <div class="col">
            Bus Number
        </div>
        <div class="col">
            Ticket Price
        </div>
        <div class="col">
            Status
        </div>
    </div>
    <div class="row" ng-repeat="ticket in TicketsHistory" style=" border-bottom: 1px solid lightgrey; text-align:center; padding: 5px" ng-click="detail()">
        <div class="col col-center">
            {{ticket.generationDate}}
        </div>
        <div class="col col-center" style="max-height: 50px; min-height: 50px;">
          <div style="position: relative;">
            <div style="position: absolute; left: 50%; width: auto; transform: translateX(-50%);">
              <img src="img\ic_bus_black.png" style="max-width: 50px;">
            </div>
          </div>
          <div style="color: red; font-weight: bold; text-align: center; vertical-align: middle; line-height: 50px;">
            {{ticket.lineCode}}
          </div>
        </div>
        <div class="col col-center">
            K {{ticket.fare}}
        </div>
        <div class="col col-center">
            {{ticket.status}}
        </div>
    </div>

  </ion-content>
</ion-view>