<ion-view title="Sign-In">
  <ion-content>
      <div class="list list-inset">
          <label class="item item-input">
              <input ng-model="input.username" placeholder="Username" type="text">
              </input>
          </label>
          <label class="item item-input">
              <input ng-model="input.password" placeholder="Password" type="password">
              </input>
          </label>
          <button class="button button-block button-calm icon ion-log-in" ng-click="login()">
              Sign in
          </button>        
      </div>
      <div>Mobile Application server address: </div>
      <label class="item item-select">
        <select style="max-width: 100%; right: auto; direction: ltr; padding-left: 0px" ng-model="input.address">
          <option>http://192.168.1.250:8080/afc/services/qrService/</option>
          <option>http://192.168.1.117:8080/afc/services/external/mobileapplication/</option>
        </select>
      </label>
      <br><img src="img\logo_msi.png" style="margin: auto; display: block; width: 60%">
  </ion-content>
</ion-view>
