<ion-view>
	<ion-nav-bar class="bar-calm">
		<ion-nav-title>Balance: K {{balance}}</ion-nav-title>
  		<ion-nav-buttons side="left">
    		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  		</ion-nav-buttons>
  	</ion-nav-bar>
  <ion-content class="has-header">
    <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
    	<div class="row" style="text-align: center;">
      	<div class="col col-50" ng-click="ticket()">
          <div class="row">
            <div class="col"><i class="icon ion-android-bus" style="font-size: 100px"></i></div>
    		    <div class="col col-center"><i style="font-size: 14px; font-weight: bold">BUY QR<br>TICKET</i></div>
          </div>
        </div>
      	<div class="col" ng-click="history()">
          <div class="row">
            <div class="col"><i class="icon fa fa-ticket" style="font-size: 100px"></i></div>
            <div class="col col-center"><i style="font-size: 14px; font-weight: bold">TICKET<br>HISTORY</i></div>
          </div>
        </div>
    	</div>
    	<div class="row" style="text-align: center;">
        <div class="col col-50" ng-click="transaction()">
          <div class="row">
            <div class="col"><i class="icon material-icons" style="font-size: 100px">history</i></div>
    		    <div class="col col-center"><i style="font-size: 14px; font-weight: bold"">TRANS-ACTION<br>HISTORY</i></div>
          </div>
        </div>
        <div class="col" ng-click="qrcode()">
          <div class="row">
            <div class="col"><i class="icon fa fa-qrcode" style="font-size: 100px"></i></div>
            <div class="col col-center"><i style="font-size: 14px; font-weight: bold">MY QR<br>CODE</i></div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div ng-include src="slide.template"></div>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>
