<ion-view>
	<ion-nav-bar class="bar-calm">
		<ion-nav-title>Balance: K {{balance}}</ion-nav-title>
  		<ion-nav-buttons side="left">
    		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  		</ion-nav-buttons>
  	</ion-nav-bar>
  <ion-content class="has-header" name="forMsg">
    <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
    	<div class="row" style="text-align: center;">
      	<div class="col col-50" ng-click="ticket()">
          <div class="row">
            <div class="col col-60"><i class="icon ion-android-bus" style="font-size: 100px"></i></div>
    		    <div class="col col-center"><i style="font-size: 14px; font-weight: bold">BUY QR<br>TICKET</i></div>
          </div>
        </div>
      	<div class="col" ng-click="history()">
          <div class="row">
            <div class="col col-60"><i class="icon fa fa-ticket" style="font-size: 100px"></i></div>
            <div class="col col-center"><i style="font-size: 14px; font-weight: bold">TICKET<br>HISTORY</i></div>
          </div>
        </div>
    	</div>
    	<div class="row" style="text-align: center;">
        <div class="col col-50" ng-click="transaction()">
          <div class="row">
            <div class="col col-60"><i class="icon material-icons" style="font-size: 100px">history</i></div>
    		    <div class="col col-center"><i style="font-size: 14px; font-weight: bold"">TRANS-ACTION<br>HISTORY</i></div>
          </div>
        </div>
        <div class="col" ng-click="qrcode()">
          <div class="row">
            <div class="col col-60"><i class="icon fa fa-qrcode" style="font-size: 100px"></i></div>
            <div class="col col-center"><i style="font-size: 14px; font-weight: bold">MY QR<br>CODE</i></div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
    <div class="item" style="font-weight: bold; text-align: center; font-size: 20px">
      <i ng-if="tickets.length>0">Active Ticket(s) : {{tickets.length}}</i>
      <i ng-if="tickets.length==0">No Active QR Ticket is available.<br>Please Buy a QR Ticket.</i>
    </div>
    <div style="position: relative;" ng-repeat="ticket in tickets">
      <img src='img\bg_msi_ticket.png'
        style="max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;">

      <div style="position: absolute; top: 0px; left: 0px; margin-top: 15%; margin-left: 10%; width: 80%;">
        <div class="row"">
          <div class="col">
            <div style="position: relative;">
              <div style="position: absolute; left: 50%; width: auto; transform: translateX(-50%);">
                <img src="img\ic_bus_black.png" style="max-width: 100px;">
              </div>
            </div>
            <div style="color: red; font-weight: bold; font-size: 30px; text-align: center; vertical-align: middle; line-height: 100px;">
              {{ticket.lineCode}}
            </div>
          </div>
          <div class="col col-67 col-center" style="font-size: 18px">
            <div class="row">
              <div class="col">
                {{ticket.ticketLabel}}
              </div>
            </div>
          <div class="row">
            <div class="col col-50">
              {{ticket.status}}
            </div>
            <div class="col" style="text-align: right">
              K {{ticket.fare}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position: absolute; top: 50%; left: 50%; transform: translateY(-60%) translateX(-50%); width: 80%;">
        <img ng-src={{ticket.qrUrl}} style="max-width: 100%; display: block; margin: auto;">
    </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translateY(-60%) translateX(-50%); width: 80%;">
        <img src="img\img_expired_en.png" style="max-width: 100%; display: block; margin: auto;" ng-if="ticket.status == 'EXPIRED'">
        <img src="img\img_refund_en.png" style="max-width: 100%; display: block; margin: auto;" ng-if="ticket.status == 'REFUND'">
        <img src="img\img_used_en.png" style="max-width: 100%; display: block; margin: auto;" ng-if="ticket.status == 'USED'">
        <img src="img\img_disabled_en.png" style="max-width: 100%; display: block; margin: auto;" ng-if="ticket.status == 'DISABLED'">
    </div>

      <div style="position: absolute; top: 0px; margin-top: 88%; left: 50%; transform: translateX(-50%); font-size: 18px; width: 85%">
        <div class="row">
          <div class="col col-33">
            Purchase
          </div>
          <div class="col" style="max-width: 50px">
            <i class="icon material-icons">add_shopping_cart</i>
          </div>
          <div class="col">
            {{ticket.generationDate.substr(0,ticket.generationDate.lastIndexOf(':'))}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Valid Till
          </div>
          <div class="col" style="max-width: 50px">
            <i class="icon material-icons">access_time</i>
          </div>
          <div class="col">
            {{ticket.expirationDate.substr(0,ticket.expirationDate.lastIndexOf(':'))}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Bus Code
          </div>
          <div class="col" style="max-width: 50px">
            <i class="icon material-icons">directions_bus</i>
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Used
          </div>
          <div class="col" style="max-width: 50px">
            <i class="icon material-icons">confirmation_number</i>
          </div>
        </div>
      </div>
    </div>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>
