<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable bar-calm">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <div>
        <br>
        <img src="img\logo_msi.png" style="max-width: 60%; margin: auto; display:block">
      </div>

      <div style="max-width: 60%; text-align: center; margin: auto;">
        <div class="row">
          <div class="col">
            <i class="material-icons">person_outline</i>
          </div>
          <div class="col col-75 col-center">
             <b>{{fullName}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon fa fa-dollar" style="font-size: 24px"></i>
          </div>
          <div class="col col-75 col-center">
             <b>K {{balance}}</b>
          </div>
        </div>
      </div>

      <div style="height: 30px"></div>

      <ion-list>
        <ion-item class="item-icon-left item-borderless" ng-click="changePass()">
          <i class="icon material-icons">vpn_key</i>
          <i style="font-weight: bold">Change Password</i>
        </ion-item>
        <ion-item class="item-icon-left item-borderless" ng-click="editAccount()">
          <i class="icon material-icons">portrait</i>
          <i style="font-weight: bold">Edit Account Info</i>
        </ion-item>
        <ion-item class="item-icon-left item-borderless" ng-click="logout()">
          <i class="icon material-icons">exit_to_app</i>
          <i style="font-weight: bold">Logout</i>
        </ion-item>
        <hr>
        <ion-item class="item-icon-left item-borderless" ng-click="close()">
          <i class="icon ion-power"></i>
          <i style="font-weight: bold">Close Application</i>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>

</ion-side-menus>