<ion-view>
	<ion-nav-bar class="bar-calm">
		<ion-nav-title>Change Password</ion-nav-title>
		<ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i></ion-nav-back-button>
  	</ion-nav-bar>
  <ion-content class="has-header">

	<form>
		<div class = "list">
		   <label class = "item item-input item-floating-label">
		      <span class = "input-label">Old Password</span>
		      <input id = "oldpassword" type = "password" placeholder = "Old Password" ng-model="input.oldpassword"/>
		   </label>

		   <label class = "item item-input item-floating-label">
		      <span class = "input-label">New Password</span>
		      <input id = "newpassword" type = "password" placeholder = "New Password" ng-model="input.newpassword"/>
		   </label>

		   <label class = "item item-input item-floating-label">
		      <span class = "input-label">New Password Again</span>
		      <input id = "newpassword2" type = "password" placeholder = "New Password Again" ng-model="input.newpassword2"/>
		   </label>
		</div>

	    <button type="submit" class="button button-block button-stable" ng-click="changePass()">
	    	<div class="row">
	    		<div class="col col-10 col-center">
	    			<i class="icon material-icons">vpn_key</i>
	    		</div>
	    		<div class="col">Change Password</div>
	    	</div>
	    </button>
	</form>
	<p name="network"></p>
  </ion-content>
</ion-view>

