<ion-view>
	<ion-nav-bar class="bar-calm">
		<ion-nav-title>Change Password</ion-nav-title>
  		<ion-nav-buttons side="left">
    		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  		</ion-nav-buttons>
  	</ion-nav-bar>
  <ion-content class="has-header">

	<form>
		<div class = "list">
		   <label class = "item item-input item-floating-label">
		      <span class = "input-label" style="color: red">Old Password</span>
		      <input id="oldpassword" type = "password" placeholder = "Old Password" ng-model="input.oldpassword" required/>
		   </label>

		   <label class = "item item-input item-floating-label">
		      <span class = "input-label" style="color: red">New Password</span>
		      <input type = "password" placeholder = "New Password" ng-model="input.newpassword" required pattern=".{5,}"/>
		   </label>

		   <label class = "item item-input item-floating-label">
		      <span class = "input-label" style="color: red">New Password Again</span>
		      <input type = "password" placeholder = "New Password Again" ng-model="input.newpassword2" required/>
		   </label>
		</div>

	    <button type="submit" class="button icon ion-key icon-left button-block button-stable" ng-click="changePass()">Change Password</button>
	</form>

  </ion-content>
</ion-view>

