<ion-view>
  <ion-nav-bar class="bar-calm">
    <ion-nav-title>My QR Code</ion-nav-title>
      <ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="has-header">
  	<div style="position: relative;">
  		<img src='img\bg_msi_account.png'/ style="max-width: 100%">
    	<img id="qr" style="position: absolute; 
    	top: 0; bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    	left:0;	right:0;
		margin-left:auto;
		margin-right:auto;">
    </div>
    <div style="position: absolute; top: 0px; left: 0px; margin-top: 12%; margin-left: 6%; font-size: 20px">
    	<div class="row">
    		<div class="col col-33">
    			<i class="icon material-icons" style="font-size: 100px">portrait</i>
    		</div>
    		<div class="col" style="font-size: 18px">
    			<br>
    			{{fullName}}
    			<br><br>
    			User ID: {{userid}}
    		</div>
    </div>
    <div style="position: absolute; top: 0px; left: 0px; margin-top: 90%; margin-left: 10%; font-size: 20px">
    	<div class="row">
    		<div class="col col-20 col-center" align="center">
    			<i class="icon ion-ios-bell"></i>
    		</div>
    		<div class="col">
		    	<i style="font-size: 18px">Face The Mobile Screen Towards The Top Up Device.</i>
		    </div>
		</div>
    </div>
  </ion-content>
</ion-view>
