<ion-view>
  <ion-nav-bar class="bar-calm">
    <ion-nav-title>Balance: K {{balance}}</ion-nav-title>
      <ion-nav-back-button class="button-clear"><i class="icon ion-android-arrow-back"></i></ion-nav-back-button>
    </ion-nav-bar>
  <ion-content class="has-header" name="forMsg">
    <ion-list>
    <ion-item ng-repeat="ticket in avaibleTickets" ng-click="buyTicket(ticket)" style="padding: 10px">
      <div class="row">
        <div class="col col-center" style="max-width: 80px; min-width: 80px; min-height: 80px;">
          <div style="position: relative;">
            <div style="position: absolute; left: 50%; width: auto; transform: translateX(-50%);">
              <img src="img\ic_bus_black.png" style="max-width: 80px;">
            </div>
          </div>
          <div style="color: red; font-weight: bold; font-size: 20px; text-align: center; vertical-align: middle; line-height: 80px;">
            {{ticket.tripCode}}
          </div>
        </div>
        <div class="col">
          <div class="row item-text-wrap">
            <div class="col">
              {{ticket.sourceStation}}
            </div>
            <div class="col col-center" style="font-size: 20px; max-width: 20px">
              <i class="icon material-icons">directions_run</i></div>
            <div class="col">
              <div style="text-align: right">{{ticket.destinationStation}}</div>
            </div>
          </div>
          <div class="row item-text-wrap">
            <div class="col">
              {{ticket.ticketLabel}}
            </div>
            <div class="col">
              <div style="text-align: right">K {{ticket.fareQuantity}}</div>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>